{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width"{% endblock %}>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{{cookiecutter.project_name}}{% endblock title %}</title>

    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

    {% block css %}
    <link href="{% static 'css/foundation.min.css' %}" rel="stylesheet">
    {% endblock %}

  </head>

  <body>

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
        </ul>
      </div>
    </div>

    {% block hero %}
    <div class="callout large primary">
      <div class="row column text-center">
        <h1>FOI Laundering</h1>
        <h2 class="subheader"><a href="#">You write them</a>, <a href="">others submit them</a></h2>
      </div>
    </div>
    {% endblock hero %}

    <div class="row medium-8 large-7 columns">
      {% block content %}{% endblock content %}
    </div>

    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>
    <script>
          $(document).foundation();
    </script>
    {% block extra_js %}{% endblock extra_js %}
  </body>





</html>
