{% extends "base.html" %}

{% block hero %}
  <div class="callout primary">
    <div class="row column text-center">
      <h1>FOI Laundering</h1>
      <h2>Thanks!</h2>
    </div>
  </div>
{% endblock hero %}

{% block content %}

<p>Your request has been saved anonymously.  Here's what will happen next:</p>
<ul>
  <li>We will save your request on our system, but no one will be able to see
    it for a ramdom time between 2 and 10 weeks.</li>
  <li>Once it's published, anyone will be able to see your request and submit
    it using WhatDoTheyKnow.com under their own name.</li>
  <li>Anyone will be able to see the request.</li>
</ul>

{% endblock content %}
